<a href="https://colab.research.google.com/github/Rahul-Sachdeva/Training---102-Daily-Dairy/blob/main/PandasWorksheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import pandas**

In [ ]:
import pandas as pd
import numpy as np

**Read the data from Salaries.csv and store it in a dataframe**

In [ ]:
df = pd.read_csv('/content/Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78773,78774,Catheryn Williams,Registered Nurse,125164.01,4814.00,827.70,39224.45,130805.71,170030.16,2013.0,NaN,San Francisco,NaN
78774,78775,Suan Chang,Registered Nurse,115008.19,5802.52,10552.40,38667.00,131363.11,170030.11,2013.0,NaN,San Francisco,NaN
78775,78776,Eric Chiang,Police Officer 3,123528.19,8551.16,871.97,37071.51,132951.32,170022.83,2013.0,NaN,San Francisco,NaN
78776,78777,Alan Lamb,Police Officer 2,121068.01,5233.68,7137.39,36571.11,133439.08,170010.19,2013.0,NaN,San Francisco,NaN
78777,78778,Amalia Barcena-Bosnich,Police Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Check if the dataframe is properly read or not using the head function**

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

**What columns exist in this dataframe?**

In [ ]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

**How many rows does this dataframe have?**

In [ ]:
df.shape[0]

78778

**Display the information about the dataframe using the info function. Which of these columns have missing values in them?**

In [ ]:
print(df.info())
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78778 entries, 0 to 78777
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                78778 non-null  int64
 1   EmployeeName      78778 non-null  object
 2   JobTitle          78778 non-null  object
 3   BasePay           78777 non-null  float64
 4   OvertimePay       78777 non-null  float64
 5   OtherPay          78777 non-null  float64
 6   Benefits          42618 non-null  float64
 7   TotalPay          78777 non-null  float64
 8   TotalPayBenefits  78777 non-null  float64
 9   Year              78777 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            78777 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 7.8+ MB
None

Id                      0
EmployeeName            0
JobTitle                0
BasePay                 1
OvertimePay             1
OtherPay                1
Benefits            36160
TotalPay                1
TotalPayBenefits        1
Year                    1
Notes               78778
Agency                  1
Status              78778
dtype: int64

**What is the total BasePay?**

In [ ]:
df['BasePay'].sum()

5504785818.25

**What is the highest amount of overtime pay?**

In [ ]:
df['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]

'CAPTAIN, FIRE SUPPRESSION'

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
benefits = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
print(benefits)
salary = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPay'].values[0]
total = salary + benefits
print(total)

270324.91
540649.82

**What is the name of highest paid person (including benefits)?**

In [ ]:
df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName'].values[0]

'NATHANIEL FORD'

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
df.groupby('Year')['BasePay'].mean()

Year
2011.0     63595.956517
2012.0     65436.406857
2013.0    136600.254962
Name: BasePay, dtype: float64

**Replace all the missing values in the Benefits column with 0**

In [ ]:
df['Benefits'].fillna(0, inplace = True)
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,0.00,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.00,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.00,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,0.00,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.00,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78773,78774,Catheryn Williams,Registered Nurse,125164.01,4814.00,827.70,39224.45,130805.71,170030.16,2013.0,NaN,San Francisco,NaN
78774,78775,Suan Chang,Registered Nurse,115008.19,5802.52,10552.40,38667.00,131363.11,170030.11,2013.0,NaN,San Francisco,NaN
78775,78776,Eric Chiang,Police Officer 3,123528.19,8551.16,871.97,37071.51,132951.32,170022.83,2013.0,NaN,San Francisco,NaN
78776,78777,Alan Lamb,Police Officer 2,121068.01,5233.68,7137.39,36571.11,133439.08,170010.19,2013.0,NaN,San Francisco,NaN
78777,78778,Amalia Barcena-Bosnich,Police Officer,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN

**How many unique job titles exist in the dataframe?**

In [ ]:
print(df['JobTitle'].nunique())
len(df.groupby('JobTitle').size())

2097

2097

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]['EmployeeName']

36156        PAULETTE ADAMS
36157         KAUKAB MOHSIN
36158    JOSEPHINE MCCREARY
Name: EmployeeName, dtype: object

**What are the top 5 most common jobs?**

In [ ]:
df['JobTitle'].value_counts().head()

JobTitle
TRANSIT OPERATOR    2388
Transit Operator    2269
Registered Nurse    1788
Special Nurse       1468
Police Officer 3    1423
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
df2 = df[df['Year'] == 2013]
print(len(df2.groupby('JobTitle').size()==1))

289

**How many people have the word Chief in their job title?**

Hint: Use lambda expression here

In [ ]:
df['JobTitle'].apply(lambda x: 'chief' in x.lower()).sum()

437